

<nav class="navbar navbar-expand-lg border-bottom border-3 border-dark py-4">
    <div class="container">
      <a class="navbar-brand logo" href="#"></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item ms-3 ms-md-5">
            <div class="input-group input-group-lg search-bar ">
                <input type="text" class="form-control rounded-0 border-dark  " placeholder="探索活動"
                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                <span class="input-group-text  rounded-0 border-0 bg-black search-btn " id="basic-addon2"> <i
                        class="icofont-search-1 "></i></span>
            </div>
        </li>
    </ul>
      <button class="navbar-toggler border-dark rounded-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="d-flex align-items-center list-unstyled ">
            <li class="me-4 membership"><a href="#"><i class="icofont-ui-file me-1"></i>REGISTER</li></a>
            <li class="membership"><a href="#"><i class="icofont-ui-user me-1"></i></i>LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>