// FONT FAMILY
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@700&family=Yeseva+One&display=swap');
// ICON
@import "../scss/components/icofont/icofont.min.css";

@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";


@import './layout/base.scss';
@import './layout/nav.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './pages/index.scss';

