@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Yeseva+One&display=swap');
h1,h2{
    font-family: 'Yeseva One', cursive;
}
h3,h4,h5{
    font-family: 'Noto Serif TC', serif;
}
p,h6{
    font-family: 'Noto Sans TC', sans-serif;
}